# Database connection settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=PortX
POSTGRES_USER=postgres
POSTGRES_PASSWORD=5090
POSTGRES_SCHEMA=public

# External APIs for FX and Economic Data
FX_PRIMARY=https://api.frankfurter.app
FX_FALLBACK=https://api.exchangerate.host
FX_BASE=https://v6.exchangerate-api.com/v6/1a5e82e31c282d93f26e678f/latest/USD
EXCHANGE_RATE_API_KEY=1a5e82e31c282d93f26e678f
