{# One tax-residency row. Expects `form` from the formset or formset.empty_form. #}
<div class="kyc-row" data-row="residency">
  {{ form.id }}
  <div class="kyc-row__grid">
    <div class="kyc-field">
      {{ form.joint_holder.label_tag }}
      {{ form.joint_holder }}
    </div>
    <div class="kyc-field">
      {{ form.country.label_tag }}
      {{ form.country }}
    </div>
    <div class="kyc-field">
      {{ form.tax_identification_number.label_tag }}
      {{ form.tax_identification_number }}
    </div>
    <div class="kyc-field">
      {{ form.tin_unavailable_reason.label_tag }}
      {{ form.tin_unavailable_reason }}
    </div>
    <div class="kyc-field kyc-field--del">
  {{ form.DELETE }}
  <button type="button" class="kyc-btn kyc-btn--xs kyc-btn--bad" data-remove-row>
    Remove
  </button>
</div>
  </div>
</div>